<style>

.homepagehero {
  background-image: url('{{ herocontent.image.small_reg }}');
}

@media (min-width: 768px) and (max-width: 981px) {
  .homepagehero {
    background-image: url('{{ herocontent.image.medium_reg }}');
  }
}

@media (min-width: 982px) {
  .homepagehero {
    background-image: url('{{ herocontent.image.large_reg }}');
  }
}

@media
only screen and (-webkit-min-device-pixel-ratio: 2),
only screen and (min--moz-device-pixel-ratio: 2),
only screen and (-moz-min-device-pixel-ratio: 2),
only screen and (-o-min-device-pixel-ratio: 2/1),
only screen and (min-device-pixel-ratio: 2),
only screen and (min-resolution: 192dpi),
only screen and (min-resolution: 2dppx) {

  .homepagehero {
    background-image: url('{{ herocontent.image.small_highres }}');
  }

  @media (min-width: 768px) and (max-width: 981px) {
    .homepagehero {
      background-image: url('{{ herocontent.image.medium_highres }}');
    }
  }

  @media (min-width: 982px) {
    .homepagehero {
      background-image: url('{{ herocontent.image.large_highres }}');
    }
  }
}

</style>

<header class='homepagehero'>
  <div class="hompagehero__content">
    <h1 class='homepagehero__title'>{{ herocontent.title }}</h1>
    <div class='homepagehero__subtitle'>
      {{ herocontent.subtitle }}

      <div class="homepagehero__button">
        {% include "20-molecules/10-buttons/10-button.twig" with
          {'button_href': herocontent.link,
            'button_content': 'Learn More'|trans,
            'button_modifiers': ['red'] } %}
      </div>
    </div>
  </div>
</header>