<style>

.herocontentC {
  background-image: url('{{ heroImages.small }}');
}

@media (min-width: 768px) and (max-width: 981px) {
  .herocontentC {
    background-image: url('{{ heroImages.medium }}');
  }
}

@media (min-width: 982px) {
  .herocontentC {
    background-image: url('{{ heroImages.large }}');
  }
}
</style>

<header class='herocontentC'>
  <div class="herocontentC__content">
    <h1 class='herocontentC__title'>{{ herocontent_title }}</h1>
    <div class='herocontentC__subtitle'>
        {{ herocontent_text }}
    </div>
    <div class="herocontentC__button">
      {% include "20-molecules/10-buttons/00-button/10-button.twig" with
        {'button_href': '{{ herocontent_buttonlink }}', 
          'button_content': 'Read More',
          'button_modifiers': ['transparent', 'red'] } %}
    </div>
  </div>
</header>