{#

Required Data:
  None

Options:
  card_heading_level: Heading level for card title, defaults to 4
  card_labels: array of labels with optional link in the format label.label and label.link
  card_subtitle: Subtitle displayed on card, can include html.
  card_content: Text content of card, can include html
  card_href: Image, title, and button will link to this.
  card_media: HTML that displays card media, normally an image. SHould already have <img... tags, MAKE SURE THERE'S ALT TEXT!
  card_modifiers: array of modifiers that will be added to the card, thingsl like 'align-right' or 'transparent'
  card_level: Changes the card level, only used if you're extending this card to make a variant.

  Pre-defined modifiers: align-center, align-right, media-circles

  button_content: Text that appears on the button, can include HTML
  button_modifiers: mods passed to the button.

#}
{% set card_level = card_level ? card_level : 6 %}
{% set card_heading_level = card_heading_level ? card_heading_level : 2 %}
{% set mods = '' %}
{% for mod in card_modifiers %}
  {% set mods = mods ~ " card" ~ card_level ~ "--" ~ mod %}
{% endfor %}

{% if not_article %}
  <div class="card{{ card_level }} {{ mods }}">
{% else %}
  <article class="card{{ card_level }} {{ mods }}">
{% endif %}

  {% block card_media_block %}
    {% if card_media %}
      <div class="card{{ card_level }}__media">
        {% if card_href %}<a href="{{ card_href }}">{% endif %}
        {{ card_media|raw }}
        {% if card_href %}</a>{% endif %}
      </div>
    {% endif %}
  {% endblock %}

  <div class="card{{ card_level }}__content__wrapper">
    {% if card_subtitle %}
      <h{{ card_heading_level }} class="card{{ card_level }}__subtitle">
        {% if card_href %}<a href="{{ card_href }}">{% endif %}
        {{ card_subtitle|raw }}
        {% if card_href %}</a>{% endif %}
      </h{{ card_heading_level }}>
    {% endif %}

    {% if card_content %}
      <div class="card{{ card_level }}__content">
        {{ card_content|raw }}
      </div>
    {% endif %}
  </div>

{% if not_article %}
  </div>
{% else %}
  </article>
{% endif %}