{% if breadcrumbs %}
  <nav {{ bem('breadcrumbs') }} role="navigation" aria-label="{{ "Breadcrumbs"|trans }}">
    <ul {{ bem('list', null, 'breadcrumbs') }}>
      {% for crumb in breadcrumbs %}
        {% set link = crumb.link ? crumb.link : crumb.url %}
        {% set text = crumb.title ? crumb.title : crumb.text %}

        <li {{ bem('list__item', loop.last ? ['current-page'] : [], 'breadcrumbs') }}>
          {% if (loop.last and not loop.first) or not link %}
            <span {{ bem('breadcrumb', ['no-link']) }}>{{ text|raw }}</span>
          {% else %}
            <a {{ bem('breadcrumb') }} href="{{ link }}">{{ text|raw }}</a>
          {% endif %}
        </li>

        {% if not loop.last and breadcrumbs_separator %}
          <li {{ bem('list_item', ['separator']) }}>
            <span {{ bem('breadcrumb', ['separator']) }}>{{ breadcrumbs_separator }}</span>
          </li>
        {% endif %}
      {% endfor %}
    </ul>
  </nav>
{% endif %}