<div class="inm-footer">
  <div class="inm-footer__contents">

    <div style="background-color: white">
        {# {{ dump( pagefooter ) }} #}
    </div>
     

    <div class="row inm-footer__row">
      <div class="col-xl-3 col-md-6 col-sm-12 footer-outer-left">
        <div class="inm-footer__logo-container">
          <img class="inm-footer__logo" src='{{ site_icon_white_src }}' alt='{{  site_logo_alt }}'>
        </div>
        {% include "10-atoms/01-text/08-address.twig" with
          {'address': address } only %}
        {% include "10-atoms/01-text/09-contact-info.twig" with 
          {'contact_info': contact_info } only %}
        <div class="social-media-menu">
          <ul class="social-media-buttons">
            {% for item in footer_social %}
              {% include "20-molecules/15-social-media/00-social-link/00-social-link.twig" with {
                'social_link': item.link
              } only %}
            {% endfor %}
          </ul>
        </div>
      </div>
      <div class="col-xl-2 col-md-6 col-sm-12 footer-inner-left">
        {% include "20-molecules/20-navigation/20-nav-menu/00-nav-menu.twig" with {
          menu_items: footer_links,
          menu_modifiers: ['inm-footer']
        } only
      %}
      </div>
      <div class="col-xl-2 col-md-6 col-sm-12 footer-inner-right">
        
        <div class="inm-footer__cta">
          <div class="inm-footer__cta-text {{ footer_cta_text_modifier }}">
            {{ footer_cta_text }}
          </div>
          <div class="inm-footer__cta-button">
            {% include "20-molecules/10-buttons/00-button/10-button.twig" with
              { 'button_href': footer_cta_button_link, 
                'button_content': footer_cta_button_text,
                'button_modifiers': footer_cta_button_modifiers } only %}
          </div>
        </div>
      </div>
      <div class="col-xl-5 col-md-6 col-sm-12 footer-outer-right">
          {{ footer_newsletter_signup_form|raw }}
      </div>
      <div class="col-12 col-xs-12 footer-copyright">
        {% include "10-atoms/01-text/07-copyright.twig" with 
        {'copyright': copyright } only %}
      </div>
    </div>
  </div>
</div>