<div class='container-fluid' style='width: 100%'>

<div class='row'>
<div class='col-md-4 col-xs-12'>SOME SITE LOGO!</div>
<div class='col-md-8 hidden-sm hidden-xs'>

<nav class='nabar navbar-right navbar--horizontal' role='navigation'>
  <ul class='nav navbar-nav'>
    {% for item in navbaritems %}
      <li class='menu-item'>
        <a href='{{item.link}}'>{{item.title}}</a>
        {% if item.children %}
          <ul class='dropdown-menu'>
            {% for child in item.children %}
              <li class='{{ child.active ? 'active' : '' }}' >
                <a href='{{ child.link }}'>{{ child.title }}</a>
              </li>
            {% endfor %}
          </ul>
        {% endif %}
      </li>
    {% endfor %}
  </ul>
</nav>

</div>
</div>
</div>