{# 

By default, this outputs a vertical menu.
If extra things need to be in this menu, a search bar for example, use:
{% embed ... %}
  {% block menu_extra_content %}
    EXTRA CONTENT HERE!
  {% endblock %}
{% endembed %}

instead of using {% include ... %}

Required Data:
  menu_items - array of item objects
    item.link - the menu item link
    item.title - the menu item text

Options:
  menu_modifiers: array of strings with additional classes to append.
                  current options: vertical

#}


<section {{ bem('container', null, 'offcanvas') }}>
  <div {{ bem('header', null, 'offcanvas') }}>

    <button type="button" {{ bem('close', null, 'offcanvas') }}><i class="icon icon-close"></i></button>
  </div>

  <div {{ bem('content', null, 'offcanvas') }}>
    {% include "20-molecules/20-navigation/20-nav-menu/00-nav-menu.twig" with {
      show_caret: true,
      menu_items:  offcanvas_menu_items,
      menu_modifiers: offcanvas_menu_modifiers ? offcanvas_menu_modifiers|merge(['offcanvas', 'expanding', 'vertical']) : ['offcanvas', 'expanding', 'vertical'],
      menu_extra_content: block('offcanvas_extra_content') ? block('offcanvas_extra_content') : offcanvas_extra_content
    } only %}
  </div>

  <div {{ bem('footer', null, 'offcanvas') }}>

  </div>
</section>
