{% if pagination.items|length > 1 %}
  <ul class="pagination">
    {% if pagination.active != 1 %}
      <li class="pagination__item pagination__item--prev">
        <a href="{{ pagination.prev }}">{{ "Previous"|trans }}</a>
      </li>
    {% endif %}

    {% for item in pagination.items %}
      <li class="pagination__item{% if loop.index == pagination.active %} pagination__item--active{% endif %}">
        <a class="pagination__item__number" href="{{ item.link }}">{{ loop.index }}</a>
      </li>
    {% endfor %}

    {% if pagination.active != pagination.items|length %}
      <li class="pagination__item pagination__item--next">
        <a href="{{ pagination.next }}">{{ "Next"|trans }}</a>
      </li>
    {% endif %}
  </ul>
{% endif %}