{# 

Required Data:
menu_items - array of item objects
  item.link - the menu item link
  item.title - the menu item text

Options:
  
  menu_modifiers - array of additional classes to append to navmenu--

 

#}  
  
  {% set mods = '' %}
  {% for mod in menu_modifiers %}
    {% set mods = mods ~ " navmenu--" ~ mod %}
  {% endfor %}
<nav class='navmenu navmenu-default navmenu-fixed-left navmenu-offcanvas{{ mods }} offcanvas'>
  <div class="offcanvas-header">
    <button type="button" class="navbar-toggle" data-toggle="offcanvas" data-target=".navmenu-offcanvas" data-canvas="body"><i class="fa fa-times" title="Close"></i> Close</button>
  </div>
  <ul class='nav navbar-nav'>
    {% for item in menu_items %}
      <li class='menu-item {{ (item.children) ? ' dropdown' : '' }}'>
        <a href='{{item.link}}'>{{item.title}}</a>
        {% if item.children %}
          <span class="dropdown-toggle"></span>
          <ul class='dropdown-menu navmenu-nav'>
            {% for child in item.children %}
              <li class='{{ child.active ? 'active' : '' }}' >
                <a href='{{ child.link }}'>{{ child.title }}</a>
              </li>
            {% endfor %}
          </ul>
        {% endif %}
      </li>
    {% endfor %}
  </ul>
  {% block menu_extra_content %}{% endblock %}
</nav>