<!DOCTYPE html>
<html class="{{ htmlClass }}">
  <head>
    <title>{{ title }}</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width" />
    
    <link rel="stylesheet" href="../../css/bootstrap.min.css?{{ cacheBuster }}" media="all" />


    <link rel="stylesheet" href="../../css/style.css?{{ cacheBuster }}" media="all" />
    <link rel="stylesheet" href="../../css/pattern-scaffolding.css?{{ cacheBuster }}" media="all" />
    
    <link rel="stylesheet" href="../../css/fa-svg-with-js.css?{{ cacheBuster }}" media="all" />

    <link rel="stylesheet" href="../../css/libs/superfish.css?{{ cacheBuster }}" media="all" />

    <script src="../../js/fontawesome-all.min.js"></script>

    <script
  src="../../js/jquery-1.11.2.min.js"></script>
  <script src="../../js/libs/superfish.min.js"></script>

  <script src="../../js/expanding-search.js"></script>
  <script src="../../js/search-dropdown.js"></script>
  <script src="../../js/navbar__horizontal.js"></script>
  <script src="../../js/navbar__vertical.js"></script>


    <!-- Begin Pattern Lab (Required for Pattern Lab to run properly) -->
    {{ patternLabHead | raw }}
    <!-- End Pattern Lab -->
    
  </head>
  <body class="{{ bodyClass }}">
  
